<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <sectionGroup name="child">
        <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <spring>

    <context name="ParentContext">
      <resource uri="root.xml"/>
      <context name="ChildContext1">
        <resource uri="childcontext1.xml"/>
      </context>
      <context name="ChildContext2">
        <resource uri="childcontext2.xml"/>
      </context>
    </context>

  </spring>  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
