<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, 
                      Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="consoleLogger">
      <level value="ALL"/>
    </logger>
    
  </log4net>-->
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--DAO-->
      <object id="theCustomerDao" type="Aspect.Dao.CustomerDao" />
      <!--Business object-->
      <object id="theDbCustomerManager" type="Aspect.Managers.DbCustomerManager">
        <!--<property name="CustomerDao" ref="theCustomerDao"/>-->
      </object>
      <!--Advices-->
      <object id="theLogAdvice" type="Aspect.LogExThrowsAdvice, Log4NetInSpringNet">
        <property name="exceptionHandlers">
          <list>
            <value>on exception name DbException swallow</value>
          </list>
        </property>
      </object>
      <!--Proxy creator-->
      <object type="Spring.Aop.Framework.AutoProxy.TypeNameAutoProxyCreator, Spring.Aop">
        <property name="TypeNames" value="Aspect.Managers.DbCustomerManager*" />
        <property name="InterceptorNames">
          <list>
            <value>theLogAdvice</value>
          </list>
        </property>
      </object>
      <!--DAO-->
      <!--<object id="theCustomerDao" type="Aspect.Dao.CustomerDao"/>-->
      <!--Business object-->
      <!--<object id="theDbCustomerManager" type="Aspect.Managers.DbCustomerManager">-->
      <!--<property name="CustomerDao" ref="theCustomerDao"/>-->
      <!--</object>-->
      <!--Advices-->
      <!--<object id="theDbAccessAdvice" type="Aspect.DbAccessAdvice, Log4NetInSpringNet"/>-->
      <!--<object id="theLogAdvice" type="Aspect.LogExThrowsAdvice, Log4NetInSpringNet"/>-->
      <!--<object id="exAdvice" type="Spring.Aspects.Exceptions.ExceptionHandlerAdvice, Spring.Aop">
        <property name="ExceptionHandlers">
          <list>
            <value>on exception name DbException swallow</value>
          </list>
        </property>
      </object>-->
      <!--Advisor-->
      <!--<object id="theDbAccessAdvisor" type="Spring.Aop.Support.RegularExpressionMethodPointcutAdvisor, Spring.Aop">
        <property name="Pattern" value="Aspect*"/>
        <property name="Advice" ref="theDbAccessAdvice"/>
      </object>
      <object id="theLogAdvisor" type="Spring.Aop.Support.RegularExpressionMethodPointcutAdvisor, Spring.Aop">
        <property name="Pattern" value="Aspect*"/>
        <property name="Advice" ref="theLogAdvice"/>
      </object>-->
      <!--Proxy factory object-->
      <!--var springContext = ContextRegistry.GetContext();
      var dbMgr = (IDbCustomerManager)springContext["theProxy"];
      dbMgr.GetCustomerById(1);-->
      <!--
      <object id="theProxy"
              type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
        <property name="ProxyInterfaces" value="Aspect.Managers.IDbCustomerManager"/>
        <property name="Target">
          <object type="Aspect.Managers.DbCustomerManager">
          </object>
        </property>
        <property name="InterceptorNames">
          <list>
            <value>theDbAccessAdvisor</value>
            <value>theLogAdvisor</value>
          </list>
        </property>
      </object>-->
      <!--Proxy creator-->
      <!--<object type="Spring.Aop.Framework.AutoProxy.TypeNameAutoProxyCreator, Spring.Aop">
        <property name="TypeNames" value="Aspect.Managers.DbCustomerManager*"/>
        <property name="InterceptorNames">
          <list>
            <value>exAdvice</value>
            <value>theDbAccessAdvisor</value>
            <value>theLogAdvisor</value>
          </list>
        </property>
      </object>-->
    </objects>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>