<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <sectionGroup name="childsection">
        <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <spring>
    <context name="Parent">
      <resource uri="config://spring/objects"/>
      <context name="child">
        <resource uri="config://spring/childsection/objects"/>
      </context>
    </context>
    
    <childsection>
      <objects xmlns="http://www.springframework.net">
        <object id="MyObject2" type="context_hierarchy_q19858418.MyClass, context_hierarchy_q19858418">
          <property name="Name">
            <value>object 2, from child context"</value>
          </property>
        </object>
      </objects>
    </childsection>    
    
    <objects xmlns="http://www.springframework.net">
      <import resource="file://objects.xml"/>
      <object id="MyObject" type="context_hierarchy_q19858418.MyClass, context_hierarchy_q19858418">

      </object>
    </objects>

  </spring>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.10.11092" newVersion="2.5.10.11092" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>